{% extends "squelette.html" %}

{% block titre %}Translation Tool - Coloniae{% endblock %}

{% block corps %}
<div class="ui text container fluid">

  <h1 class="ui center aligned header">Translation Tool - Proofreading</h1>
  <p>Welcome to the translation tool.</p>
  <p>You are a {% if role==1 %}translator{% elif role==2 %}proofreader{% else %}unknown{% endif %} for the language {{language}}.</p>
  <div class="ui teal progress" id="progress_bar">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label">Progress: ??</div>
  </div>
  <p>
    <i class="red language icon"></i> not translated
    <br><i class="yellow language icon"></i> translated (awaiting proofreading)
    <br><i class="green product hunt icon"></i> proofreading done
  </p>

</div>

<div class="ui container fluid" style="margin-top:3%">  
  <div class="ui container fluid" style="margin:10px;">
    <div id="working_table_div">
      <div class="ui segment" style="height:100px;">
        <div class="ui active inverted dimmer">
          <div class="ui text loader">Loading table</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
function add_working_table(){
  // get the script only now
  $.ajax({
    type: 'GET',
    url: 'https://cdn.datatables.net/v/se/dt-1.10.20/datatables.min.js',
    dataType: 'script',
    cache:true,
    success: function () {
      $.ajax({
      type: 'GET',
      url: 'https://cdn.datatables.net/v/se/dt-1.10.20/datatables.min.css',
      cache:true,
      success: function (dt_css_styles) {
        document.getElementById('working_table_div').innerHTML = `
        <style>`+dt_css_styles+`</style>
        <table id="working_table" class="ui compact table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Original String</th>
              <th>Translated String</th>
              <th>Comments</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Original String</th>
              <th>Translated String</th>
              <th>Comments</th>
              <th>Status</th>
            </tr>
          </tfoot>
        </table>`;
        $("#working_table").DataTable({
          searching: false,
          order: [[0, "asc"]],
          processing: true,
          serverSide: true,
          pagingType: "full_numbers",
          lengthMenu: [[5, 10, 15], [5, 10, 15]],
          ajax: {
            url: "{{url_for('api.translationstrings')}}",
            data: function (data) {
              return data;
            }
          },
          columns: [
            { data: "string_id" , orderable: false},
            { data: "string_original" , orderable: false},
            { data: "string_translated", orderable: false },
            { data: "string_comments" , orderable: false},
            { data: null , orderable: false}
          ],
          columnDefs: [
            {
              targets: [2], // string_translated
              render: function (data, type, row, meta) {
                if (type == "display") {
                  let ht = '';
                  for (var i = data.length - 1; i >= 0; i--) {
                    let translator = row.translator_ape_account[i];
                    let translation = data[i];
                    if (translation  && translator ) {
                      let tmp_color = 'brown';
                      // check if accepted translation by proofreader
                      if (row.proofreader_ape_account) {
                        if (row.translation_id[i] == row.translation_id_chosen) {
                          tmp_color = 'green';
                        }
                      }
                      ht += '<p><button class="ui mini icon button" data-tooltip="Mark as accepted" onclick="javascript:send_accept(this, '+row.string_id+', '+row.translation_id[i]+')"><i class="check icon"></i></button><span style="color:'+tmp_color+'">'+translator+'</span> : '+translation+'</p>';
                    }
                  }
                  return ht;
                }
                return data;
              }
            },
            {
              targets: [3], // comments
              render: function (data, type, row, meta) {
                if (type == "display") {
                  let ht = '';
                  for (var i = data.length - 1; i >= 0; i--) {
                    let translator = row.translator_ape_account[i];
                    let comment = data[i];
                    if (comment && translator) {
                      ht += '<p><span style="color:teal">'+translator+'</span> : '+comment+'</p>';
                    }
                  }
                  return ht;
                }
                return data;
              }
            },
            {
              targets: [4], // status
              render: function (data, type, row, meta) {
                if (type == "display") {
                  // frist, check if translated
                  let t_icon = '<div class="ui icon header center aligned" style="margin-bottom: 0px;">';
                  let t_button = '';
                  if (row.translator_ape_account[0] == null) {
                    t_icon += '<i class="red language icon" style="margin-bottom: 0;"></i>';
                  } else {
                    // check if it is proofread
                    if (row.proofreader_ape_account) {
                      t_icon += '<i class="green product hunt icon"></i><p class="center aligned">';
                      t_button += '<p class="center aligned"><button class="ui tiny button" onclick="javascript:send_removal(this, '+row.string_id+')"><i class="paper plane icon"></i>Remove acceptation</button></p>';
                    } else {
                      t_icon += '<i class="yellow language icon" style="margin-bottom: 0;"></i>';
                    }
                  }
                  t_icon += '</div>';
                  return t_icon+t_button;
                }
                return data;
              }
            }
          ]
        });
        }
      });
    }
  });
}

$( document ).ready(function() {
  add_working_table();
  reload_progress();
});

function reload_progress() {
	$.ajax({
    url: Flask.url_for('api.trsprogress'),
    type: "GET", //send it through get method
    dataType: 'json',
    contentType: "application/json; charset=utf-8",
    success: function(response) {
		$('#progress_bar').progress({
			value: response.done,
			total: response.total,
			text: {
				active  : 'Proofreading: {value} strings out of {total}',
				success : 'Proofreading completed!'
			}
		});
    },
    error: function(xhr) {
      alert('ERROR check logs');
      console.log(xhr);
      button_elem.classList.remove('disabled');
      button_elem.classList.remove('loading');
    }
  });
}

function send_accept(button_elem, string_id, translation_id) {
  button_elem.classList.add('disabled');
  button_elem.classList.add('loading');
  $.ajax({
    url: Flask.url_for('api.pfrsubmitchanges'),
    type: "POST", //send it through get method
    dataType: 'json',
    data: JSON.stringify({ 
      'string_id': string_id,
      'translation_id' : translation_id,
      'action' : 'accept'
    }),
    contentType: "application/json; charset=utf-8",
    success: function(response) {
      // get the datatable
      let table = $("#working_table").DataTable();
      let current_data = table.row(string_id-1).data();
      // set data and draw
      table.row(string_id-1).data(response);
      button_elem.classList.remove('disabled');
      button_elem.classList.remove('loading');
      reload_progress();
    },
    error: function(xhr) {
      alert('ERROR check logs');
      console.log(xhr);
      button_elem.classList.remove('disabled');
      button_elem.classList.remove('loading');
    }
  });
}

function send_removal(button_elem, string_id) {
  button_elem.classList.add('disabled');
  button_elem.classList.add('loading');
  $.ajax({
    url: Flask.url_for('api.pfrsubmitchanges'),
    type: "POST", //send it through get method
    dataType: 'json',
    data: JSON.stringify({ 
      'string_id': string_id,
      'action' : 'remove'
    }),
    contentType: "application/json; charset=utf-8",
    success: function(response) {
      // get the datatable
      let table = $("#working_table").DataTable();
      let current_data = table.row(string_id-1).data();
      // set data and draw
      table.row(string_id-1).data(response);
      button_elem.classList.remove('disabled');
      button_elem.classList.remove('loading');
      reload_progress();
    },
    error: function(xhr) {
      alert('ERROR check logs');
      console.log(xhr);
      button_elem.classList.remove('disabled');
      button_elem.classList.remove('loading');
    }
  });
}
</script>
{% endblock %}