{% extends "squelette.html" %}

{% block titre %}My Colony Translation - Coloniae{% endblock %}

{% block corps %}
<!-- Articles -->
<div class="ui text container fluid">
    <h1 class="ui center aligned header">My Colony Translation</h1>
    
    <p style="margin-top:3%">Welcome to the My Colony translation project page.</p>
    <p>This project is supported by Bastecklein, the developer of the game, and we have already provided him with the French and Chinese translations.</p>
    
    <p>Take a look at <a href="https://dev.coloniae.space/translation/overview", target="_blank"><b>the My Colony 2 translation project</b></a>.</p>

 	<p>Useful links:
 		<ul>
 			<li><a href="https://discord.gg/zMP2tMf" target="_blank">Discord server</a> (zMP2tMf)</li>
 			<li><a href="https://www.ape-apps.com/viewpage.php?p=25772" target="_blank">Official Thread</a></li>
 		</ul>
 	</p>

</div>
{% endblock %}
