{% extends "squelette.html" %}

{% block titre %}Market History - Coloniae{% endblock %}

{% block corps %}
<div class="ui container fluid">

  <h1 class="ui center aligned header">Market History</h1>
  
    <div id="main_dropdown" class="ui search selection dropdown" style="margin-top: 3%">
        <input type="hidden" id="res_picker">
        <i class="dropdown icon"></i>
        <div class="default text">Select Resource</div>
    </div>
    <div class="ui button" onclick="javascript:change_res()">Fetch</div>
  
  <div id="container"  style="height: 700px; min-width: 310px"></div>

</div>
{% endblock %}
{% block scripts %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<script src="https://blacklabel.github.io/indicators/js/indicators.js"></script>
<script src="https://blacklabel.github.io/indicators/js/ema.js"></script>
<script src="https://blacklabel.github.io/indicators/js/rsi.js"></script>
<script type="text/javascript">
function daysSince() {
    // timestamp of november 5 2018 midnight UTC
    first = 1541376000000;
    // current timestamp
    second = Date.now();
    // Take the difference between the dates and divide by milliseconds per day.
    // Round to nearest whole number to deal with DST.
    // -2 to get the real allowed value
    return Math.floor((second-first)/(1000*60*60*24))-2;
}

$(document).ready(function (){
    //$('#custom_rsi_dialog').attr('max', daysSince());
    $.ajax({
      type: 'GET',
      url: 'https://mc1.my-colony.com/api.php?pf=1&g=1',
      dataType: 'json',
      cache:true,
      success: function (data) {
        var t_values = [];
        for (var i = data.resources.length - 1; i >= 0; i--) {
          var temp_res = data.resources[i];
          t_values.push({'name': temp_res.name, 'value': temp_res.name});
        }
        t_values.sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);});
        $('#main_dropdown').dropdown({
          values: t_values
        });
      }
    });
});

function change_res() {

    res = document.getElementById("res_picker").value;
    if (res=='') {return;}
    makeChart(res);
};
function makeChart(resource) {
    document.getElementById("container").innerHTML = '<p style="text-align:center">Loading '+resource+': <br>Fetching Data from server...</p>';
    $.get('/static/csv/resprices/'+resource+'.csv', function (data) {
        const lines = data.split('\r\n');
        const data_ready = [];
  		for (i=0; i<lines.length; i++) {
            const tmp_array = lines[i].split(";");
            if (Number(tmp_array[0]) && Number(tmp_array[1])) {
              data_ready.push([Number(tmp_array[0]), Number(tmp_array[1])]);
            }
        }
        // create the chart
        $('#container').highcharts('StockChart', {

            chart: {
            zoomType: 'x'
        },
		
    		rangeSelector: {
    
                buttons: [{
                    type: 'day',
                    count: 1,
                    text: '1d'
                },{
                    type: 'day',
                    count: 3,
                    text: '3d'
                }, {
                    type: 'week',
                    count: 1,
                    text: '1w'
                }, {
                    type: 'month',
                    count: 1,
                    text: '1m'
                }, {
                    type: 'month',
                    count: 6,
                    text: '6m'
                }, {
                    type: 'year',
                    count: 1,
                    text: '1y'
                }, {
                    type: 'all',
                    text: 'All'
                }],
                selected: 3
            },
    			
    			xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
                second: '%d %B %Y<br/>%H:%M:%S',
                minute: '%d %B %Y<br/>%H:%M',
                hour: '%d %B %Y<br/>%H:%M',
                day: '%d %B %Y',
                week: '%d %B %Y',
                month: '%B %Y',
                year: '%Y'
    			}
    		},
    
    			yAxis: {
    		},
    
    
            title: {
                text: 'Rolling prices'
            },
    
            subtitle: {
            text: 'https://mc1.my-colony.com/api.php?pf=1&g=1<br>-<br>Time is UTC<br>G = giga (billion) (E+9) ; M = mega (million) (E+6) ; k = kilo (thousand) (E+3)'
    		},
    
            series: [{ id :'series',
    name: resource,
    data: data_ready},
    				{
    				
        type : 'flags',
    	onSeries : 'series',  // Id of which series it should be placed on. If not defined 
                        // the flag series will be put on the X axis
        shape : 'flag',  // Defines the shape of the flags.
        data : [{
            x : Date.UTC(2018, 0, 18, 22),      // Point where the flag appears
            title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.53.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 0, 27, 16),      // Point where the flag appears
            title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.54.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 1, 5, 14),      // Point where the flag appears
            title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.55.0'// Text displayed when the flag are highlighted.
    	},{
            x : Date.UTC(2018, 1, 8, 21),      // Point where the flag appears
                    title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.56.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 1, 16, 19),      // Point where the flag appears
            title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.57.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 2, 2, 21),      // Point where the flag appears
                    title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.58.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 2, 14, 18),      // Point where the flag appears
            title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.59.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 3, 3, 15),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.60.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 3, 13, 18),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.61.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 3, 30, 18),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.62.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 4, 10, 13, 30),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.63.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 4, 23, 14, 30),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.64.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 5, 8, 13),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.65.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 5, 15, 17),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.66.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 5, 24, 21),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.67.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 6, 11, 18),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.68.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 7, 9, 14),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.69.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 8, 4, 17),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.70.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 8, 10, 16),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.71.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 8, 19, 15),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.72.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 9, 4, 21),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.73.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 9, 22, 19),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.74.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 10, 8, 0),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.75.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 10, 21, 16),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.76.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 11, 21, 23),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.77.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2018, 11, 31, 17),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.78.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2019, 00, 16, 18),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.79.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2019, 01, 01, 19),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.80.0'// Text displayed when the flag are highlighted.
        },{
            x : Date.UTC(2019, 01, 22, 16),      // Point where the flag appears
             title : '!', // Title of flag displayed on the chart text : ''   
    		text : '0.82.0'// Text displayed when the flag are highlighted.
        }]
    
    
    	
    }		
    ]
    });
    });
};

</script>
{% endblock %}